[package]
name = "aigent-tools"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true

aigent-core = { path = "../aigent-core" }

